.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}

.about_project
{
  color: var(--clr-primary);
}


#project 
{
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  align-items: center;
  margin-bottom: 50px;
}

#project>div:first-child
{
  width: 60%;
}

#project>div:last-child
{
  width: 35%;
}


img
{
  width: 100%;
  border-radius: 26px;

}

#stacks
{
  display: flex;
  gap: 20px;
  color: var(--clr-primary);
}

@media (max-width: 945px) {
 
  #project
  {
    flex-direction: column;
  }
    

  #project>div:first-child
{
  width: 100%;
}

#project>div:last-child
{
  width: 100%;
  margin-top: 20px;
}

    
  }


  #b
  {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

